@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewBag.Title = "GetMarks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<EFCoreToDo.Models.Mark>





@*<!DOCTYPE html>*@

@*<hml>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
    </head>*@
@*<body>*@



<style>
    body
    {font-family:sans-serif;
     font-size:11pt;
     background-image:url(images/3.jpg);
     background-size:cover;
     background-attachment:fixed;

    }
    table 
    {
        width:80%;

    }
    table,th,td 
    {
    border:1px solid black;
    border-collapse:collapse;
    opacity:0.95;
    }
    th,td
    {
        padding:10px;
        text-align:center;
    }
    th
    { background-color:#5c0707;
      color:white;
    }
    tr:nth-child(even)
    {
        background-color:#e8e8e8;
    }

     tr:nth-child(old)
    {
        background-color:white;
    }

    #header
     {
        background-color:#89bcbf;
        color:white;

     }
</style>

<body>
    <table align="center">
        <div class="post">
            <thead>
                <tr>
                    <td id="header" colspan="7"><h1> students marks </h1></td>
                </tr>

                <tr>
                    <th>  CC </th>
                    <th>  DS </th>
                    <th>  Exam  </th>
                    <th>  Moyenne </th>



                </tr>
            </thead>

         
        </div>

        @foreach (var Markitem in Model)
        {

            
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(mark => Markitem.CC)</td>
                    <td>@Html.DisplayFor(mark => Markitem.DS)</td>
                    <td>@Html.DisplayFor(mark => Markitem.Exam)</td>
                    <td>@Html.DisplayFor(mark => Markitem.Moyenne)</td>
                    <td> <a asp-action="Edit" asp-route-id="@Markitem.MarkId">Edit</a></td>
                    <td> <a asp-action="Delete" asp-route-id="@Markitem.MarkId">Delete</a></td>

                </tr>

            </tbody>

        }
        @*<div>
                @RenderBody()
            </div>*@
        @*</body>
            </hml>*@
    </table>
</body>